* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.game-header {
    display: flex;
    align-items:  center;
    justify-content: center;

    background-color: #272722;
    width: 100%;
    height: 80px;
    padding: 50px;
    margin: 0;
    margin-bottom: 10px;

}

.game-title {
    display: inline-block;

    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(110, 110, 110);
    letter-spacing: 20px;
    font-size: 50px;
    
    font-family: 'Permanent Marker', cursive;

    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.game-log {
    margin: 0;
    width: 100%;
    padding: 3rem 0rem 0rem 0rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game_log__frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 60%;
    border: 5px solid #272727;
}

.player-console {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0px 20px 0px 20px;
    width: 50%;
}

.pc-console {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-title {
    margin: 0;
    display: inline-block;

    font-family: 'Ultra', serif;
    color: #272727;
}

.game-result {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;
}

#result-message {
    display: inline-block;
    
    font-family: 'Ultra', serif;
    color: #272727  ;
}

.options {
    display: flex;
    align-items:  center;
    justify-content: center; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.option-btn {
    padding: 20px;
    width: 25rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    background-color: #272727;
    border-style: none;

    color: whitesmoke;
    font-family: 'Ultra', serif;
    font-size: 24px;
    letter-spacing: 15px; 
    
    cursor: pointer;
}

.option-btn:hover {
    color: #272727;
    background-color: whitesmoke;
    border: 1px solid #272727;
}

.option-btn:active {
    color: #272727;
    background-color: whitesmoke;
    border: 1px solid #272727;
}

