* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.game-header {
    display: flex;
    align-items:  center;
    justify-content: center;

    background-color: rgb(230, 227, 91);
    width: 100%;
    height: 80px;
    padding: 50px;
    margin: 0;
    margin-bottom: 10px;

}

.game-title {
    display: inline-block;

    color: rgb(247, 88, 88);
    text-shadow: 2px 2px rgb(90, 60, 60);
    letter-spacing: 20px;
    font-size: 50px;
    
    font-family: 'Permanent Marker', cursive;

    margin: 0;
}

.container {
    display: flex;
}

.options {
    display: flex;
    align-items:  left;
    justify-content: left; 
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 2rem;
}

.option-btn {
    padding: 20px;
    width: 25rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    background-color: rgb(0, 12, 14);
    border-style: none;

    color: whitesmoke;
    font-family: 'Ultra', serif;
    font-size: 24px;
    letter-spacing: 15px; 
    
    cursor: pointer;
}

.option-btn:hover {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}

.option-btn:active {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}

.pc-tab {
    margin: 10px;
}